# DungeonSystem Credential file

# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# ! DO NOT POST THIS FILE IN GITHUB OR PUBLIC! !
# ! OR YOUR BOT WILL BE COMPROMISED!           !
# ! PLEASE BE CAREFUL WITH FORKS               !
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

# Use the proper text editor with editing this file (Like vim).
# Do not use tab characters in this file, use plain spaces.
# Keep at least one space after a colon, like so:
#
# key: value
#
# You can wrap most values into quotation marks, except numbers and booleans:
#
# someUrl: "https://example.com"
# 70k3n: "70k3n 15 b357"
# port: 22
# flag: true
#
# More information on correctly formatting yaml files: http://www.yaml.org/start.html

# ---------------------
# Essential Credentials
# ---------------------

DiscordToken: "" # Add your discord token here.